.content {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 50%;
}

.button {
  background-color: #61dafb;
  border-radius: 10px;
  color: #282c34;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
}