.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.count {
  color: #282c34;
  font-size: 100px;
  font-weight: bold;
  margin: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
}

.board {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 10px;
  width: 200px;
}

.button {
  background-color: #61dafb;
  border-radius: 10px;
  color: #282c34;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
}

.disabled {
  background-color: #ccc;
  border-radius: 10px;
  color: #282c34;
  cursor: not-allowed;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 4px 2px;
}